ul {
    padding-left: 0px;
    border: 1px solid black;
}

@media screen and (min-width: 900px) {
    .Destop {
        width: 90vw;
        display: flex;
    }
    ul {
        background-color: rgb(185, 185, 185);
        border-radius: 8px 0px 0px 8px;
    }
}
