li {
    border-bottom: 1px solid black;
}

li:hover, .active-liste {
    background-color: white;
}

/*
li.active-li {
    background-color: white;
}*/

/*Format desktop*/
@media screen and (min-width: 900px) {
    li {
        display: flex;
    }
    li:last-child {
        border-bottom: none !important;
    }
}