img {
    width: 14vw;
}

.divImageDesktop {
    display: flex;
    background-size: cover;
    width: 18vw;
    height: 215px;
    align-items: center;
    overflow: hidden;
}

.PhotoDescription {
    width: 18vw;
    height: auto;
}

.Paragraphe {
    text-align: justify;
    text-indent: 2em;
    margin-left: 1vw;
}
.Margin {
    display: none;
}

.Mobile {
    margin-left: 5vw;
    margin-right: 5vw;
}

@media screen and (min-width: 900px) {
    .Destop {
        width: 90vw;
    }
    .Margin {
        margin-left: 5vw;
        margin-right: 5vw;
        display: block;
    }
    .Mobile {
        display: none;
    }
    .StarCard {
        border-left: 1px solid black;
        margin-left: -1px;
    }
    .divImageDesktop {
        float: left;
        margin: 0 20px 0px 0;
    }
    .Paragraphe {
        width: 60vw;
    }
}